---
import PokemonCard from '../components/PokemonCard.astro';
import type { PokemonListResponse } from '../interfaces/pokemon-list.response';
import Layout from '../layouts/Layout.astro';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');

if (!resp.ok) throw new Error('Failed to fetch data');

const data = (await resp.json()) as PokemonListResponse;

const title = 'Pokémon Static | Home';
---

<Layout title={title}>
  <h1 class='text-3xl'>Listado de Pokémons</h1>
  <hr />

  <section
    aria-label='Listado de Pokémons'
    class='grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5'
  >
    {data.results.map(({ name, url }) => <PokemonCard url={url} name={name} />)}
  </section>
</Layout>
